@media screen and (min-width: 480px)  {
    nav {
        height: 75px;
        line-height: 75px;
        width: 100%;
        background-color: #CCDBDC;
    }
    main {
        width: 100%;
    }
    aside, section {
        width: 100%;
    }
    
    #top_row {
        width: 100%;
    }
    #bottom_row {
        width: 100%;
    }
    
}

@media screen and (min-width: 768px)  {
    nav {
        height: 100px;
        line-height: 100px;
        width: 100%;
        background-color: #CCDBDC;
    }

    main {
        width: 100%;
    }
    aside {
        width: 20%;
    }
    section {
        width: 80%;
    }
}